In [1]:
import os

from  more_itertools import unique_everseen
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/product_data.csv')

In [3]:
df.shape

(1349606, 15)

In [11]:
df.head()

,aisle_id,days_since_prior_order_history,department_id,eval_set,index_in_order_history,is_ordered_history,label,order_dow_history,order_hour_history,order_number_history,order_size_history,product_id,product_name,reorder_size_history,user_id
0,123,0 11 10 19 6,4,train,0 0 0 0,1 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,28289,Organic Shredded Carrots,0 0 0 0,5
1,123,0 11 10 19 6,4,train,0 0 0 0,0 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,11777,Red Raspberries,0 0 0 0,5
2,123,0 11 10 19 6,4,train,0 0 0 0,0 0 0 0,1,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,40706,Organic Grape Tomatoes,0 0 0 0,5
3,83,0 11 10 19 6,4,train,0 0 0 0,0 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,48775,Organic Red Cabbage,0 0 0 0,5
4,37,0 11 10 19 6,1,train,0 0 0 0,0 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,20754,Mediterranean Mint Gelato,0 0 0 0,5

In [10]:
df.groupby('product_id')['product_id'].count()

product_id
0        20621
1           79
2            8
3            8
4           23
8           11
9           12
10         124
11           5
12           8
14           2
16           2
17           1
18           3
22           1
23          67
24           2
25          81
26           7
27           8
28          35
29          16
30           5
31           7
32          13
33           3
34         242
35          22
36           6
37          37
         ...
49650        2
49651        3
49652       43
49653        4
49654        1
49655       63
49658        2
49659       13
49661        1
49662        3
49664        9
49665        6
49667       78
49668       22
49670        7
49671        3
49673        1
49675        5
49676        4
49677       17
49678       27
49679        8
49680       78
49681        4
49682        4
49683     2965
49684        1
49685        4
49686        2
49688        9
Name: product_id, Length: 41388, dtype: int64

In [7]:
df.head()

,aisle_id,days_since_prior_order_history,department_id,eval_set,index_in_order_history,is_ordered_history,label,order_dow_history,order_hour_history,order_number_history,order_size_history,product_id,product_name,reorder_size_history,user_id
0,123,0 11 10 19 6,4,train,0 0 0 0,1 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,28289,Organic Shredded Carrots,0 0 0 0,5
1,123,0 11 10 19 6,4,train,0 0 0 0,0 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,11777,Red Raspberries,0 0 0 0,5
2,123,0 11 10 19 6,4,train,0 0 0 0,0 0 0 0,1,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,40706,Organic Grape Tomatoes,0 0 0 0,5
3,83,0 11 10 19 6,4,train,0 0 0 0,0 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,48775,Organic Red Cabbage,0 0 0 0,5
4,37,0 11 10 19 6,1,train,0 0 0 0,0 0 0 0,0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0,20754,Mediterranean Mint Gelato,0 0 0 0,5