In [2]:
import os

from  more_itertools import unique_everseen
import pandas as pd

In [3]:
df = pd.read_csv('../data/processed/user_data.csv')

In [4]:
df.shape

(20621, 11)

In [5]:
df.head()

,user_id,order_ids,order_numbers,order_dows,order_hours,days_since_prior_orders,product_ids,aisle_ids,department_ids,reorders,eval_set
0,5,2717275 1909121 2267326 157374 2196797,1 2 3 4 5,3 0 3 1 0,12 16 18 18 11,0 11 10 19 6,15349_21413_48775_28289_8518_11777_31717_26604...,29_66_83_123_83_123_16_24_84_83_120 84_12_120_...,13_6_4_4_4_4_4_4_16_4_16 16_9_16_4_4_13_4_19_4...,0_0_0_0_0_0_0_0_0_0_0 1_0_1_1_0_0_1_0_0 1_1_0_...,train
1,42,940313 1816335 19190 77399 2848715 1560102 232...,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17,2 1 1 1 2 1 3 0 3 5 3 2 4 5 0 0 0,10 15 19 9 18 19 13 10 19 1 18 13 12 16 15 13 11,0 6 7 7 8 13 9 11 24 9 19 20 9 22 30 14 14,9185_24098_32599_2627_34594 24098_43693_79_184...,126_90_11_133_84 90_84_95_112_21_130_72_31_31 ...,11_7_11_11_16 7_16_15_3_16_14_13_7_7 15_1_1_1_...,0_0_0_0_0 1_0_0_0_0_0_0_0_0 1_0_0_0_0_0 1_1_1_...,train
2,52,2497897 1318871 1261384 2100631 580568 1680554...,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...,1 1 1 1 2 1 2 1 1 2 2 1 1 1 2 3 2 2 3 1 5 1 1 ...,9 10 10 11 10 13 7 10 11 10 9 16 10 13 11 11 1...,0 7 7 7 8 6 8 6 7 8 7 6 7 7 8 8 6 14 8 5 30 10...,12341_14444_10441_196_46149_35561 12341_6184_1...,32_117_117_77_77_107 32_32_117_77_77_117 77_11...,4_19_19_7_7_19 4_4_19_7_7_19 7_19_7_4_9 4_19_1...,0_0_0_0_0_0 1_0_1_1_1_0 1_1_1_0_0 1_1_1_1_0_1_...,train
3,93,2319586 1144929 2482337 1154181 983132 2852868...,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15,3 2 5 6 5 5 6 0 6 0 6 6 4 3 1,8 9 15 9 9 9 13 11 10 12 14 8 12 19 10,0 30 30 1 6 0 1 1 20 8 27 14 5 30 5,46585 48142_3389_31225 31225 31225 35458_17341...,30 77_77_43 43 43 93_93_112_43_58_112 45_45 10...,6 7_7_3 3 3 3_3_3_3_1_3 19_19 19 19 14_3_9_14 ...,0 0_0_0 1 1 0_0_0_1_0_0 0_0 0 1 0_1_0_0 0 0 0_...,train
4,99,2736359 465262 2872285 828701 2216860 1262038 ...,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19,4 4 0 2 1 3 2 3 2 0 5 3 4 4 5 5 0 1 2,15 13 17 13 11 13 12 15 20 16 10 15 16 16 10 1...,0 14 24 23 13 23 13 29 30 12 26 12 15 21 8 7 2...,27845_23516_23726_23405_43920_32666_13802_4920...,84_17_17_17_17_17_36_123_117_117_19 24_123_26_...,16_13_13_13_13_13_16_4_19_19_13 4_4_7_15_4_19_...,0_0_0_0_0_0_0_0_0_0_0 0_1_0_0_0_0_0 1_1_1_0_0_...,train

In [6]:
products = pd.read_csv('../data/raw/products.csv')
aisle_to_department = dict(zip(products['aisle_id'], products['department_id']))

In [7]:
products.shape

(49688, 4)

In [8]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [9]:
user_ids = []
aisle_ids = []
department_ids = []
eval_sets = []

is_ordered_histories = []
index_in_order_histories = []
order_size_histories = []
order_dow_histories = []
order_hour_histories = []
days_since_prior_order_histories = []
order_number_histories = []
num_products_from_aisle_histories = []

In [10]:
longest = 0
for _, row in df.iterrows():
    break

In [11]:
row

user_id                                                                    5
order_ids                             2717275 1909121 2267326 157374 2196797
order_numbers                                                      1 2 3 4 5
order_dows                                                         3 0 3 1 0
order_hours                                                   12 16 18 18 11
days_since_prior_orders                                         0 11 10 19 6
product_ids                15349_21413_48775_28289_8518_11777_31717_26604...
aisle_ids                  29_66_83_123_83_123_16_24_84_83_120 84_12_120_...
department_ids             13_6_4_4_4_4_4_4_16_4_16 16_9_16_4_4_13_4_19_4...
reorders                   0_0_0_0_0_0_0_0_0_0_0 1_0_1_1_0_0_1_0_0 1_1_0_...
eval_set                                                               train
Name: 0, dtype: object

In [12]:
user_id = row['user_id']
eval_set = row['eval_set']
aisles = row['aisle_ids']

In [13]:
aisles

'29_66_83_123_83_123_16_24_84_83_120 84_12_120_123_123_19_24_107_83 24_123_37_37_123 96_120_84_123_86_66_83_81_83_24_123_21 29_24_21_66_101_83_66_123_123'

In [16]:
aisles, next_aisles = ' '.join(aisles.split()[:-1]), aisles.split()[-1]

In [17]:
aisle_set = set([int(j) for i in aisles.split() for j in i.split('_')])

In [18]:
aisle_set

{12, 16, 19, 21, 24, 29, 37, 66, 81, 83, 84, 86, 96, 107, 120, 123}

In [19]:
next_aisle_set = set([int(i) for i in next_aisles.split('_')])

In [20]:
next_aisle_set

{21, 24, 29, 66, 83, 101, 123}

In [21]:
orders = [map(int, i.split('_')) for i in aisles.split()]

In [22]:
orders

[<map at 0x7f7430dbbd68>,
 <map at 0x7f7430dbb9e8>,
 <map at 0x7f7430dbb5f8>,
 <map at 0x7f7430df4c18>]

In [23]:
for aisle_id in aisle_set:
    break

In [24]:
aisle_id

96

In [25]:
user_ids.append(user_id)
aisle_ids.append(aisle_id)

In [27]:
department_ids.append(aisle_to_department[aisle_id])
eval_sets.append(eval_set)

In [28]:
is_ordered = []
index_in_order = []
num_products_from_aisle = []
order_size = []

In [29]:
orders

[<map at 0x7f7430dbbd68>,
 <map at 0x7f7430dbb9e8>,
 <map at 0x7f7430dbb5f8>,
 <map at 0x7f7430df4c18>]

In [32]:
for order in orders:
    order_set = set(order)
    is_ordered.append(str(int(aisle_id in order_set)))
    unique_order = list(unique_everseen(order))
#     index_in_order.append(str(unique_order.index(aisle_id) + 1) if aisle_id in order_set else '0')
    num_products_from_aisle.append(str(sum([i == aisle_id for i in order])))
    order_size.append(str(len(set(order))))

In [33]:
is_ordered

['0', '0', '0', '1', '0', '0', '0', '0']

In [34]:
orders

[<map at 0x7f7430dbbd68>,
 <map at 0x7f7430dbb9e8>,
 <map at 0x7f7430dbb5f8>,
 <map at 0x7f7430df4c18>]

In [37]:
num_products_from_aisle

['0', '0', '0', '0', '0', '0', '0']

In [38]:
is_ordered = ' '.join(is_ordered)
num_products_from_aisle = ' '.join(num_products_from_aisle)
order_size = ' '.join(order_size)
index_in_order = ' '.join(index_in_order)

is_ordered_histories.append(is_ordered)
index_in_order_histories.append(index_in_order)
order_size_histories.append(order_size)
num_products_from_aisle_histories.append(num_products_from_aisle)

order_dow_histories.append(row['order_dows'])
order_hour_histories.append(row['order_hours'])

days_since_prior_order_histories.append(row['days_since_prior_orders'])
order_number_histories.append(row['order_numbers'])

In [42]:
order_dow_histories

['3 0 3 1 0']

In [43]:
data = [
    user_ids,
    aisle_ids,
    department_ids,
    eval_sets,

    is_ordered_histories,
    index_in_order_histories,
    order_size_histories,
    order_dow_histories,
    order_hour_histories,
    days_since_prior_order_histories,
    order_number_histories,
    num_products_from_aisle_histories,
]
columns = [
    'user_id',
    'aisle_id',
    'department_id',
    'eval_set',

    'is_ordered_history',
    'index_in_order_history',
    'order_size_history',
    'order_dow_history',
    'order_hour_history',
    'days_since_prior_order_history',
    'order_number_history',
    'num_products_from_aisle_history',
]

In [44]:
df = pd.DataFrame(dict(zip(columns, data)))

In [45]:
df.head()

,aisle_id,days_since_prior_order_history,department_id,eval_set,index_in_order_history,is_ordered_history,num_products_from_aisle_history,order_dow_history,order_hour_history,order_number_history,order_size_history,user_id
0,96,0 11 10 19 6,20,train,0 0 0,0 0 0 1 0 0 0 0,0 0 0 0 0 0 0,3 0 3 1 0,12 16 18 18 11,1 2 3 4 5,0 0 0 0 0 0 0,5